* {
  margin: 0;
}

body {
  background-color: #f5f6fa;
}

.app_header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
}

.app_dropdown {
  background-color: white;
}

.app_stats {
  display: flex;
  justify-content: space-between;
}

.app_right {
  display: flex;
  flex-direction: column;
}

.app_right .MuiCardContent-root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.app {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}

@media (max-width: 990px) {
  .app {
    flex-direction: column;
  }
}

.app_header h1 {
  color: #fc3c3c;
  font-size: 2rem;
}

.app_left {
  flex: 0.9;
}

.app_graph {
  flex-grow: 1;
}

.graph_title {
  margin-top: 20px;
  margin-bottom: 20px;
}
